# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [3]:
query = """
SELECT 
  employees.firstName
, employees.lastName
, offices.city
, offices.state
FROM
  employees JOIN offices
  ON employees.officeCode = offices.officeCode
ORDER BY
  employees.firstName
, employees.lastName
"""

In [4]:
result = cur.execute(query)

In [5]:
result.description

(('firstName', None, None, None, None, None, None),
 ('lastName', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None))

In [6]:
result_data = list(result)

In [7]:
len(result_data)

23

In [8]:
next(result)

StopIteration:

In [9]:
result_data = []

while True:
    try:
        row = next(result)
        result_data.append(row)
    except StopInteration:
        break
        
result_data = []
for row in result:
    result_data.append(row)

NameError: name 'StopInteration' is not defined

In [10]:
list(zip(*result.description))[0]
column = [row[0] for row in result.description]

In [11]:
pd.DataFrame(result_data, columns=column)

Empty DataFrame
Columns: [firstName, lastName, city, state]
Index: []

In [40]:
result_data

[('Andy', 'Fixter', 'Sydney', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Barry', 'Jones', 'London', ''),
 ('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Larry', 'Bott', 'London', ''),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', ''),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Tom', 'King', 'Sydney', ''),
 ('William', 'Patterson', 'Sydney', ''),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku')]

In [12]:
g = iter(range(0, 100))

In [13]:
next(g)

0

In [14]:
def py2_range(start, stop):
    """Return a list of all integers between start and stop."""
    result = []
    i = start
    while i < stop:
        result.append(i)
        i += 1
    return result

In [15]:
py2_range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
def py3_range(start, stop):
    """Yield each integer between start and stop."""
    i = start
    while i < stop:
        yield i
        i += 1

In [17]:
list(py3_range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [ ]:
query = """
SELECT 
  customers.firstName
, employees.lastName
, offices.city
, offices.state
FROM
  employees JOIN offices
  ON employees.officeCode = offices.officeCode
ORDER BY
  employees.firstName
, employees.lastName
"""

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!